.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav__section {
    padding: 100 1.25rem;
    max-width: 800px;
    margin: 0 auto;
}

.nav__list {
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

.nav a {
    font-size: var(--font-size-small);
    color: var(--text-color);
    transition: color 0.2s;
}

.nav a:hover {
    color: var(--primary);
}